@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #2c2c2c;
  font-family: 'Aril', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}

.fa-twitter{
    color: #00acee;
}
.fa-facebook{
    color: #27427a;
}
.fa-youtube{
    color: #d80700;
}   

.fa-linkedin{
    color: #0072b1;
}  